clusters:
  - name: appscode-authentication-server
    cluster:
      server: {{ APPSCODE_AUTHN_URL }}
users:
  - name: kube-apiserver
    user:
      password: {{ STARTUP_CONFIG_TOKEN }}
      username: {{ APPSCODE_NS }}.{{ KUBE_UID }}
current-context: webhook
contexts:
- context:
    cluster: appscode-authentication-server
    user: kube-apiserver
  name: webhook
